# SPDX-License-Identifier: Apache-2.0 OR GPL-2.0-only
# SPDX-FileCopyrightText: 2026 Fernando Rodriguez
# The Linux COMPARISON kernel only (run.sh linux), never the modules: Zbb and
# Zbc, which QEMU's default rv64 has, so Linux's own crc32 (Zbc clmul) and
# string functions (Zbb) run as they would on this hart. In a module they
# would put `.alternative` patch sites the AzOS loader refuses.
CONFIG_RISCV_ISA_ZBB=y
CONFIG_RISCV_ISA_ZBC=y
